/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  /*background-color: #000;*/
  background: url(../img/crowd.jpg) no-repeat center center fixed #e6e6e6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 24px;*/
    background-color: #eeded4;
    background-color: rgba(238, 222, 212, .75);
    overflow: hidden;
    font-family: 'Titillium Web',sans-serif;
    position: relative;
}
header {
    width: 100%;
    text-align: center;
    background-color: #545454;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #9DC2E3),
        color-stop(1, #DFEEF0)
    );
    background-image: -o-linear-gradient(bottom, #9DC2E3 0%, #DFEEF0 100%);
    background-image: -moz-linear-gradient(bottom, #9DC2E3 0%, #DFEEF0 100%);
    background-image: -webkit-linear-gradient(bottom, #9DC2E3 0%, #DFEEF0 100%);
    background-image: -ms-linear-gradient(bottom, #9DC2E3 0%, #DFEEF0 100%);
    background-image: linear-gradient(to bottom, #9DC2E3 0%, #DFEEF0 100%);
    color: #333;
    padding: 16px 0;
}
h1 {
    font-size: 2.4em;
    margin: 0;
    font-weight: 400;
    font-family: 'Sonsie One', sans-serif;
    color: #cb0c4f;
    text-shadow: 0 0 6px #fc0;
}

.msg {
    padding: 12px;
    color: #c00;
    font-size: 1.0em;
    text-align: center;
    margin: 12px auto;
    width: 300px;
    border: 1px solid #c00;
}

#search {
    width: 100%;
    margin: 12px 0;
    text-align: center;
}
#search input {
    padding: 12px 4px;
    width: 240px;
    font-size: 1.4em;
    border: 1px solid #ccc;
    margin: 0 24px 0 0;
}

#search p {
    margin: 24px 0 0 0;
}


#search button {
    padding: 12px 8px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 1.24em;
    border: 1px solid #666;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #3EB554),
        color-stop(0.51, #25CF47),
        color-stop(1, #5A9E65)
    );
    background-image: -o-linear-gradient(bottom, #3EB554 0%, #25CF47 51%, #5A9E65 100%);
    background-image: -moz-linear-gradient(bottom, #3EB554 0%, #25CF47 51%, #5A9E65 100%);
    background-image: -webkit-linear-gradient(bottom, #3EB554 0%, #25CF47 51%, #5A9E65 100%);
    background-image: -ms-linear-gradient(bottom, #3EB554 0%, #25CF47 51%, #5A9E65 100%);
    background-image: linear-gradient(to bottom, #3EB554 0%, #25CF47 51%, #5A9E65 100%);
}
#search button:hover {
    color: #333;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

}

#the-pics {
    position: relative;
    min-height: 400px;
    padding: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: wrap;
    -webkit-flex-flow: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.indiv-album {
    width: 20%;
    margin: 24px;
    position: relative;
    padding: 0px;
    height: 278px;
}

.indiv-album img {
    height: auto;
    width: auto;
    max-width: 99.5%;
    border: 1px solid #ccc;
    position: fixed;
    box-shadow: 0 0 8px #ccc;
}

.indiv-album h3 {
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: center;
    margin: 14px 0 0 0;
    font-weight: 700;
    font-family: 'Titillium Web',sans-serif;
}

li {
    font-size: .72em;
    margin: 6px 0;
    font-family: 'Titillium Web',sans-serif;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    padding: 0 0 0 12px;
}
li:before {
    content: url(../img/play-icon.png);
}
li:hover {
    color: #c00;
}
.playing {
    color: #00b115;
}
.playing:before {
    content: url(../img/pause-icon.png);
}
#mute {
    border: 0px solid #666d6e;
    border-radius: 4px;
    color: #efefef;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: .71em;
}
#mute {
    background-image: url(../img/mute-icon.png);
    background-position: 0 0;
    border-radius: 4px;
    color: #efefef;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: .71em;
}
#mute:hover{
    /*background-color: #555;*/
    background-position: 35px 0px;
}
.testly {
    position: relative;
    background-color: #c00;
    padding: 12px;
    width: 200px;
}

.mytracks {
    width: 100%;
    padding: 36px 0 0 0;
    background-color: rgba(244,244,244,.85);
    /*background-color: #c4c4c4;*/
    position: absolute;
    top: 0;
    margin: 0;
}

.containr {
    position: relative;
    height: 230px;
    overflow: scroll;
    width: 100%;
}

.flippy {
    background-color: #616161;
    text-align: center;
    color: #efefef;
    width: 51%;
    padding: 2px 0;
    font-size: .65em;
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 999;
    border: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'Titillium Web',sans-serif;
    cursor: pointer;
}

.flippy:hover {
    background-color: #efefef;
    color: #616161;
}

.nowplay {
    background-color: #666;
    padding: 8px 0;
    vertical-align: middle;
    font-size: .93em;
    /*line-height: .5em;*/
    width: 100%;
    color: #fff;
    text-align: left;
    min-height: 24px;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #292929),
        color-stop(0.47, #3C4347),
        color-stop(1, #171717)
    );
    background-image: -o-linear-gradient(bottom, #292929 0%, #3C4347 47%, #171717 100%);
    background-image: -moz-linear-gradient(bottom, #292929 0%, #3C4347 47%, #171717 100%);
    background-image: -webkit-linear-gradient(bottom, #292929 0%, #3C4347 47%, #171717 100%);
    background-image: -ms-linear-gradient(bottom, #292929 0%, #3C4347 47%, #171717 100%);
    background-image: linear-gradient(to bottom, #292929 0%, #3C4347 47%, #171717 100%);

}
.nptext {
    color: #fc0;
    font-weight: 700;
    padding: 0px 6px;
    background-color: #cb0c4f;
}
.titletext {
    color: #efefef;
}
.artisttext {
    color: #efefef;
}
.tracktext {
    color: #efefef;
}
.artisttext:before {
    content: 'ARTIST:';
    color: #a1d2e7;
    font-size: .75em;
    /*line-height: 1.95em;*/
    padding: 0 6px 0 12px;
}
.titletext:before {
    content: 'ALBUM:';
    color: #a1d2e7;
    font-size: .75em;
    /*line-height: 1.95em;*/
    padding: 0 6px 0 12px;
}
.tracktext:before {
    content: 'TRACK:';
    color: #a1d2e7;
    font-size: .75em;
    /*line-height: 1.95em;*/
    padding: 0 6px 0 12px;
}

footer {
    text-align: center;
    padding: 12px 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px) {
    /* Style adjustments for viewports that meet the condition */

header {
    background-color: #c00;
    padding: 12px 0;
}
h1 {
    font-size: 2.2em;
}
#search input {
    margin: 0 0 12px 0;
}

.indiv-album {
    width: 85%;
    margin: 12px;
    position: relative;
    padding: 0px;
    height: 325px;
}
.containr {
    height: 275px;
}

li {
    font-size: 1.0em;
    margin: 6px 0;
    font-family: 'Titillium Web',sans-serif;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    padding: 0 0 0 12px;
}


}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
